{% extends 'base.html.twig' %}

{% block title %}Route{% endblock %}

{% block body %}
    <h1>Route</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ route.id }}</td>
            </tr>
            <tr>
                <th>StartAt</th>
                <td>{{ route.startAt ? route.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndAt</th>
                <td>{{ route.endAt ? route.endAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsBlocking</th>
                <td>{{ route.isBlocking ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('route_index') }}">back to list</a>

    <a href="{{ path('route_edit', {'id': route.id}) }}">edit</a>

    {{ include('route/_delete_form.html.twig') }}
{% endblock %}
