{% extends 'base.html.twig' %}

{% block title %}Vehicle index{% endblock %}

{% block body %}
    <section class="transport">
        <div class="wrapper">
            <div class="white-bg">
                <h4>Choose the type of transit</h4>
                {% for vehicle in vehicles %}
                    <div class="box">
                        <a href="{{ path('route_new', {'vehicle': vehicle.id}) }}">
                            {% if loop.index == 1 %}<span class="icomoon-outline-directions_bus-24px"></span>{% endif %}
                            {% if loop.index == 2 %}<span class="icomoon-outline-local_shipping-24px"></span>{% endif %}
                            <h5>{{ vehicle.name }}</h5>
                            {% if loop.index == 1 %}
                                <p>Plan new route for a bus or coach.</p>
                            {% endif %}
                            {% if loop.index == 2 %}
                                <p>Plan new route for tankers and large trucks.</p>
                            {% endif %}
                            {% if loop.index == 3 %}
                                <p>Plan new route for a custom vehicle (i.e. service machine).</p>
                            {% endif %}
                        </a>
                    </div>
                {% else %}
                    no records found
                {% endfor %}
                <div class="box disabled" style="pointer-events: none">
                    <a href="{{ path('vehicle_new') }}">
                        <span class="icomoon-outline-control_camera-24px"></span>
                        <h5>Add <br>new</h5>
                        <p>Plan new route for a custom vehicle (i.e. service machine)</p>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {#<table class="table">#}

        {#<tbody>#}
        {#{% for vehicle in vehicles %}#}
            {#<tr>#}
                {#<td>{{ vehicle.id }}</td>#}
                {#<td>{{ vehicle.name }}</td>#}
                {#<td>{{ vehicle.type }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('route_new', {'vehicle': vehicle.id}) }}">Add new route</a>#}
                    {#<a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('vehicle_new') }}">Create new</a>#}
{% endblock %}
