{% block text_widget %}
    {{ form_widget(form) }}
{% endblock %}

{#{% block restriction_row %}#}
        {#{%- set widget_attr = {} -%}#}
        {#{%- if help is not empty -%}#}
            {#{%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}#}
        {#{%- endif -%}#}
        {#<div>#}
            {#{{- form_label(form) -}}#}
            {#{{- form_errors(form) -}}#}
            {#{{- form_widget(form, widget_attr) -}}#}
            {#{{- form_help(form) -}}#}
        {#</div>#}
{#{% endblock %}#}

{% block _section_restrictions_entry_valueTo_label %}
    {% if form.parent.vars.value.type == 0 %}
        Max weight
    {% endif %}
    {% if form.parent.vars.value.type == 1 %}
        Max width
    {% endif %}
    {% if form.parent.vars.value.type == 2 %}
        Max height
    {% endif %}
    {% if form.parent.vars.value.type == 3 %}
        Is active?
    {% endif %}
{% endblock %}

{% block restriction_widget %}
    <div class="row">
        {% if form.vars.value.type == 3 %}
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ form.vars.id }}_switch">
                <input type="checkbox" id="{{ form.vars.id }}_switch" class="mdl-checkbox__input" {{ form.valueTo.vars.value == '1' ? 'checked':''}}>
                <span class="mdl-checkbox__label">Is active?</span>
            </label>
            <script>
                document.querySelector('#{{ form.vars.id }}_switch').addEventListener(
                    'change',
                    function (event) {
                        if (event.target.checked) {
                            document.querySelector('#{{ form.valueTo.vars.id }}').value = '1';
                        } else {
                            document.querySelector('#{{ form.valueTo.vars.id }}').value = '0';
                        }
                    }
                );
            </script>
            <div style="display: none">
                {{ form_widget(form) }}
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
{% endblock %}
